extends _layout/_layout

block main-content
  .comp-wrapper
    .comp-box.--padding
      .comp-box__heading
        h1.comp-box__title-text Hợp âm thánh ca, nơi lưu trữ các bài hát thánh ca với hợp âm và sheet nhạc đã được imprimatur
        small.comp-box__title-small Soạn bài hát thánh lễ các mùa phụng vụ, các lễ riêng, lễ đặc biệt.
      .comp-box__content
        p Nội dung lấy từ file cũ...