extends _layout/_layout

block main-content
  .main-content
    .comp-wrapper
      include _components/_breadcrumb.pug
      .comp-box.--padding
        .comp-box__title
          h1 Bảng chữ cái
          small Danh sách bài hát được lọc theo bảng chữ cái, thuận tiện cho việc tìm kiếm các bài hát theo các mẫu tự.
        .comp-box__content
          .comp-alphabet
            ul
              li
                +link("list-song.html", "alphabet")
                  span a
              li
                +link("list-song.html", "alphabet")
                  span b
              li
                +link("list-song.html", "alphabet")
                  span c
              li
                +link("list-song.html", "alphabet")
                  span d
              li
                +link("list-song.html", "alphabet")
                  span e
              li
                +link("list-song.html", "alphabet")
                  span f
              li
                +link("list-song.html", "alphabet")
                  span g
              li
                +link("list-song.html", "alphabet")
                  span h
              li
                +link("list-song.html", "alphabet")
                  span i
              li
                +link("list-song.html", "alphabet")
                  span j
              li
                +link("list-song.html", "alphabet")
                  span k
              li
                +link("list-song.html", "alphabet")
                  span l
              li
                +link("list-song.html", "alphabet")
                  span m
              li
                +link("list-song.html", "alphabet")
                  span n
              li
                +link("list-song.html", "alphabet")
                  span o
              li
                +link("list-song.html", "alphabet")
                  span p
              li
                +link("list-song.html", "alphabet")
                  span q
              li
                +link("list-song.html", "alphabet")
                  span r
              li
                +link("list-song.html", "alphabet")
                  span s
              li
                +link("list-song.html", "alphabet")
                  span t
              li
                +link("list-song.html", "alphabet")
                  span u
              li
                +link("list-song.html", "alphabet")
                  span v
              li
                +link("list-song.html", "alphabet")
                  span w
              li
                +link("list-song.html", "alphabet")
                  span x
              li
                +link("list-song.html", "alphabet")
                  span y
              li
                +link("list-song.html", "alphabet")
                  span z