extends _layout/_layout

block main-content
  .main-content
    .wrapper
      .box.padding
        .box-title
          h1 Bảng chữ cái
          small Danh sách bài hát được lọc theo bảng chữ cái, thuận tiện cho việc tìm kiếm các bài hát theo các mẫu tự.
        .box-content
          .category-list-alphabet
            ul
              li
                a(href="list-song.html")
                  span a
              li
                a(href="list-song.html")
                  span b
              li
                a(href="list-song.html")`
                  span c
              li
                a(href="list-song.html")
                  span d
              li
                a(href="list-song.html")
                  span e
              li
                a(href="list-song.html")
                  span f
              li
                a(href="list-song.html")
                  span g
              li
                a(href="list-song.html")
                  span h
              li
                a(href="list-song.html")
                  span i
              li
                a(href="list-song.html")
                  span j
              li
                a(href="list-song.html")
                  span k
              li
                a(href="list-song.html")
                  span l
              li
                a(href="list-song.html")
                  span m
              li
                a(href="list-song.html")
                  span n
              li
                a(href="list-song.html")
                  span o
              li
                a(href="list-song.html")
                  span p
              li
                a(href="list-song.html")
                  span q
              li
                a(href="list-song.html")
                  span r
              li
                a(href="list-song.html")
                  span s
              li
                a(href="list-song.html")
                  span t
              li
                a(href="list-song.html")
                  span u
              li
                a(href="list-song.html")
                  span v
              li
                a(href="list-song.html")
                  span w
              li
                a(href="list-song.html")
                  span x
              li
                a(href="list-song.html")
                  span y
              li
                a(href="list-song.html")
                  span z