extends _layout/_layout

block main-content
  .main-content
    .wrapper
      .breadcrumb
        ul 
          li
            a(href='##')
              i.fa.fa-home
              span Trang chủ
          li 
            a(href='##')
              span Chuyên mục
          li 
            a(href='##')
              span Danh mục con
          li 
            a(href='##')
              span Bài viết
      .box.padding
        .chord
          .chord__text Vòng tròn hợp âm
          .chord__circle
            img(src="images/cf.svg", alt="")
          .chord__list
            select.list-chord(name="chord")
              option(value='C' selected) C
              option(value='C#') C#
              option(value='D') D
              option(value='Eb') Eb
              option(value='E') E
              option(value='F') F
              option(value='F#') F#
              option(value='G') G
              option(value='G#') G#
              option(value='A') A
              option(value='Bb') Bb
              option(value='B') B
            select.list-tail(name="tail")
              option(value="" selected) major
              option(value="m") minor
              option(value="6") 6
              option(value="m6") m6
              option(value="69") 69
              option(value="7") 7
              option(value="m7") m7
              option(value="maj7") maj7
              option(value="7#5") 7#5
              option(value="m7b5") m7b5
              option(value="7b9") 7b9
              option(value="7sus4") 7sus4
              option(value="9") 9
              option(value="m9") m9
              option(value="maj9") maj9
              option(value="add9") add9
              option(value="13") 13
              option(value="sus2") sus2
              option(value="sus4") sus4
              option(value="dim") dim
              option(value="dim7") dim7
              option(value="aug") aug
          .chord__result
