extends _layout/_layout

block main-content
  .main-content
    .wrapper
      .breadcrumb
        ul 
          li
            a(href='##')
              i.fa.fa-home
              span Trang chủ
          li 
            a(href='##')
              span Chuyên mục
          li 
            a(href='##')
              span Danh mục con
          li 
            a(href='##')
              span Bài viết
      .box.padding
        .chord
          .chord__text Vòng tròn hợp âm
          .chord__circle
            img(src="images/cf.svg", alt="")
          .chord__list
              ul
                li.active
                  a(data-chord='C') C
                li
                  a(data-chord='C#') C#
                li
                  a(data-chord='D') D
                li
                  a(data-chord='Eb') Eb
                li
                  a(data-chord='E') E
                li
                  a(data-chord='F') F
                li
                  a(data-chord='F#') F#
                li
                  a(data-chord='G') G
                li
                  a(data-chord='G#') G#
                li
                  a(data-chord='A') A
                li
                  a(data-chord='Bb') Bb
                li
                  a(data-chord='B') B
          .chord__result
