extends _layout/_layout

block main-content
  .main-content
    .wrapper
      .breadcrumb
        ul 
          li
            a(href='##')
              i.fa.fa-home
              span Trang chủ
          li 
            a(href='##')
              span Thánh ca hàng tuần
      .box.padding
        .holy-songs-weekly
          .holy-songs-weekly__content
            p TÍNH NĂNG CHUẨN BỊ RA MẮT