extends _layout/_layout

block main-content
  .comp-wrapper
    include _components/_breadcrumb.pug
    .comp-box.--padding
      .comp-box__heading
        h1.comp-box__title-text Thánh ca hàng tuần
        small.comp-box__title-small Soạn bài hát thánh lễ các mùa phụng vụ, các lễ riêng, lễ đặc biệt.
      .comp-box__content
        .row
          .col-12
            .comp-song-weekly.--vertical
              .comp-song-weekly__title LỄ RIÊNG - ĐẶC BIỆT
              .comp-song-weekly__list
                ul 
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ các thánh
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ các thánh tử đạo Việt Nam
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Chúa Ba Ngôi
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Chúa Giêsu lên trời (Lễ thăng thiên)
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Chúa Thánh Thần hiện xuống
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ các thánh
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ các thánh tử đạo Việt Nam
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Chúa Ba Ngôi
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Chúa Giêsu lên trời (Lễ thăng thiên)
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Chúa Thánh Thần hiện xuống
          .col-lg-6.col-xxl-4
            .comp-song-weekly
              .comp-song-weekly__title NĂM A
              .comp-song-weekly__list
                ul 
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật II
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật III
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật IV
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Giáng sinh
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Lễ tro
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Chúa nhật II
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa thường niên - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa thường niên - Chúa nhật II
          .col-lg-6.col-xxl-4
            .comp-song-weekly
              .comp-song-weekly__title NĂM B
              .comp-song-weekly__list
                ul 
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật II
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật III
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật IV
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Giáng sinh
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Lễ tro
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Chúa nhật II
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa thường niên - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa thường niên - Chúa nhật II
          .col-lg-6.col-xxl-4
            .comp-song-weekly
              .comp-song-weekly__title NĂM C
              .comp-song-weekly__list
                ul 
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật II
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật III
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa vọng - Chúa nhật IV
                  li 
                    a(href="holy-song-weekly-detail.html") Lễ Giáng sinh
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Lễ tro
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa chay - Chúa nhật II
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa thường niên - Chúa nhật I
                  li 
                    a(href="holy-song-weekly-detail.html") Mùa thường niên - Chúa nhật II
        