extends _layout/_layout

block main-content
  .comp-wrapper
    include _components/_breadcrumb.pug
    .comp-box.--padding
      .comp-box__heading
        h1.comp-box__title-text Năm A - Mùa thường niên - Chúa nhật I
        small.comp-box__title-small Soạn bài hát cho lễ Năm A - Mùa thường niên - Chúa nhật I
      .comp-box__content
        .comp-holy-weekly.--vertical
          .comp-holy-weekly__phase
            .comp-holy-weekly__phase-name Nhập lễ: 
            .comp-holy-weekly__phase-detail
              ul 
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Nào dân Thiên Chúa
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Nào dân Thiên Chúa hãy hát mừng vì hôm nay
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Nào ta đến
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Nào ta đến để tung hô Chúa là vua
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Lên đền thánh
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Nào cùng nắm tay nhau đi về nhà Cha
          .comp-holy-weekly__phase
            .comp-holy-weekly__phase-name Ca tiếp liên: 
            .comp-holy-weekly__phase-detail
              ul 
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Xin ban thần khí
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Lạy Cha xin ban cho con thần khí
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") xin ban thánh linh
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Lạy Cha chí thánh hằng sinh, xin
          .comp-holy-weekly__phase
            .comp-holy-weekly__phase-name Đáp ca: 
            .comp-holy-weekly__phase-detail
              ul 
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Thánh vịnh 15
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Nào ai tung hô Chúa trời
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Con sẽ hân hoan
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc con sẽ hân hoan bước vào đền thánh Chúa Trời
          .comp-holy-weekly__phase
            .comp-holy-weekly__phase-name Kinh cầu các thánh: 
            .comp-holy-weekly__phase-detail
              ul 
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Kinh cầu các thánh
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Xin Thiên Chúa thương xót
          .comp-holy-weekly__phase
            .comp-holy-weekly__phase-name Dâng lễ: 
            .comp-holy-weekly__phase-detail
              ul 
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Dâng Chúa Trời
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Dâng là Dâng Chúa trời, ước mơ bao
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Đôi tay con xin
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Dâng lên bao hy sinh, bánh miến và
          .comp-holy-weekly__phase
            .comp-holy-weekly__phase-name Hiệp lễ: 
            .comp-holy-weekly__phase-detail
              ul 
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Ca vang tình yêu Chúa
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Tình yêu Thiên Chúa, êm như dòng sông
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Bao la tình Chúa
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Bao la tình Chúa yêu con, mênh mông
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Khúc ca dâng
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Tình Ngài tựa như dòng suối mát
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Cho con biết yêu thương
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Cho con biết yêu thương thật lòng, cho con
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Xin cho con
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Xin cho con quên đi bao nhiêu
          .comp-holy-weekly__phase
            .comp-holy-weekly__phase-name Kết lễ: 
            .comp-holy-weekly__phase-detail
              ul 
                li
                  .comp-holy-weekly__phase-song
                    .comp-holy-weekly__phase-song-detail
                      a(href="#") Xin vâng
                      a(href="")
                        img(src="images/pdf.svg", alt="")
                    .comp-holy-weekly__phase-song-desc Mẹ ơi, đời con dõi bước theo Mẹ
