extends _layout/_layout

block main-content
  .main-content
    .wrapper
      .box.spring
        .box-title.padding
          h3 Chúa Là Mùa Xuân
          span Danh sách bài hát thánh ca về mùa xuân, thánh ca tuyển chọn, được imprimatur(sử dụng trong phụng vụ) bởi các Đấng Bản Quyền tại các giáo phận
        .box-content
          .list-song
            .song
              .song__title Ca vang tình yêu Chúa 4
              .song__author Đinh Minh Hoàng
              .song__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
              a(href="").song__link
            .song
              .song__title Ca vang tình yêu Chúa 3
              .song__author Đinh Công Huỳnh
              .song__desc Dòng suối êm đềm êm trôi, êm trôi như ân tình Chúa. Mùa xuân tinh khôi tô điểm cho đời thắm tươi rực rỡ. Dừng bước gian trần cho tâm can con nghỉ ngơi trong Ngài. Một phút bình yên tim con lâng lâng ngất ngây đêm ngày.
              a(href="").song__link
            .song
              .song__title đoàn con đến đây
              .song__author Hoài Chiên
              .song__desc Ðoàn con đến đây dâng lời ước nguyện. Ngày đêm mến cha cho trọn khối tình con. Ðược yêu mến Cha bao là êm đềm. Hồn con sướng vui tháng năm hết ưu phiền.
              a(href="").song__link
            .song
              .song__title lòng Chúa ái tuất
              .song__author Nguyễn Bang Hanh
              .song__desc Đây lòng Chúa ái tuất không bến bờ, Thương loài nhân thế đang vướng tội nhơ. Đem trót Máu Thịt nuôi dưỡng xác hồn. Ngày đêm ban xuống cho muôn ngàn ơn.
              a(href="").song__link
            .song
              .song__title Phút Linh Thiêng
              .song__author Thành Tâm
              .song__desc Người ơi nào mau tới thờ lạy Chúa, quỳ dâng lòng tôn kính Chúa trên cao. Linh thiêng, ôi phút giây giờ đây khi đoàn con được chiêm ngắm nhan thánh Chúa chí nhân quyền uy.
              a(href="").song__link
            .song
              .song__title Thờ Lạy Chúa
              .song__author Hoài Đức
              .song__desc Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái trong hình bánh náu thân. Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái nương mình dưới thế trần.
              a(href="").song__link
            .song
              .song__title Giêsu Ở Cùng Con
              .song__author Chưa Rõ Tác Giả
              .song__desc Giêsu ơi ở cùng con luôn mãi. Chúa lìa con, con biết đâu nương nhờ? Nơi dương gian con giá lạnh hôm mai. Hãy ở lại trong cõi lòng con thơ.
              a(href="").song__link
            .song
              .song__title Dâng
              .song__author Nguyễn Duy
              .song__desc Nguyện dâng Chúa lễ tình yêu chân thành, này tấm bánh đây rượu nho thơm ngát. Nguyện dâng Chúa đôi bàn tay con hiến, Chúa thương chấp nhận ban phước lành tháng năm.
              a(href="").song__link
            .song
              .song__title Con Mến Yêu
              .song__author Chưa Rõ Tác Giả
              .song__desc Con mến yêu tin thờ trong lòng. Cùng chút tình ngây thơ ngắm trông, trong Thánh Thể Chúa cả càn khôn, hằng náu thân tù hãm vì con.
              a(href="").song__link
            .song
              .song__title Tâm Tình Với Chúa
              .song__author Giang Tâm
              .song__desc Lặng quỳ bên Chúa, ôi Chúa Giêsu thánh thể, hồn tràn niềm vui chẳng biết nói sao nên lời. Vì mến thương con Chúa đã hiện hữu nơi đây, nguồn suối ơn thiêng, nuôi dưỡng tháng ngày đời chúng con.
              a(href="").song__link
            .song
              .song__title Ca vang tình yêu Chúa 4
              .song__author Đinh Minh Hoàng
              .song__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
              a(href="").song__link
            .song.more
              .song__text-more
                | Xem
                <br/> nhiều hơn
              a(href="").song__link
      .row.justify-content-center
        .col-lg-6 
          .box.padding 
            .box-title 
              h3 Bài hát mới nhất
            .box-content
              .list-song
                .song
                  .song__title
                    a(href="") Ca vang tình yêu Chúa 4
                      span Đinh Minh Hoàng
                  .song__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                .song
                  .song__title
                    a(href="") Ca vang tình yêu Chúa 3
                      span Đinh Công Huỳnh
                  .song__desc Dòng suối êm đềm êm trôi, êm trôi như ân tình Chúa. Mùa xuân tinh khôi tô điểm cho đời thắm tươi rực rỡ. Dừng bước gian trần cho tâm can con nghỉ ngơi trong Ngài. Một phút bình yên tim con lâng lâng ngất ngây đêm ngày.
                .song
                  .song__title
                    a(href="") đoàn con đến đây
                      span Hoài Chiên
                  .song__desc Ðoàn con đến đây dâng lời ước nguyện. Ngày đêm mến cha cho trọn khối tình con. Ðược yêu mến Cha bao là êm đềm. Hồn con sướng vui tháng năm hết ưu phiền.
                .song
                  .song__title
                    a(href="") lòng Chúa ái tuất
                      span Nguyễn Bang Hanh
                  .song__desc Đây lòng Chúa ái tuất không bến bờ, Thương loài nhân thế đang vướng tội nhơ. Đem trót Máu Thịt nuôi dưỡng xác hồn. Ngày đêm ban xuống cho muôn ngàn ơn.
                .song
                  .song__title
                    a(href="") Phút Linh Thiêng
                      span Thành Tâm
                  .song__desc Người ơi nào mau tới thờ lạy Chúa, quỳ dâng lòng tôn kính Chúa trên cao. Linh thiêng, ôi phút giây giờ đây khi đoàn con được chiêm ngắm nhan thánh Chúa chí nhân quyền uy.
                .song
                  .song__title
                    a(href="") Thờ Lạy Chúa
                      span Hoài Đức
                  .song__desc Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái trong hình bánh náu thân. Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái nương mình dưới thế trần.
                .song
                  .song__title
                    a(href="") Giêsu Ở Cùng Con
                      span Chưa Rõ Tác Giả
                  .song__desc Giêsu ơi ở cùng con luôn mãi. Chúa lìa con, con biết đâu nương nhờ? Nơi dương gian con giá lạnh hôm mai. Hãy ở lại trong cõi lòng con thơ.
                .song
                  .song__title
                    a(href="") Dâng
                      span Nguyễn Duy
                  .song__desc Nguyện dâng Chúa lễ tình yêu chân thành, này tấm bánh đây rượu nho thơm ngát. Nguyện dâng Chúa đôi bàn tay con hiến, Chúa thương chấp nhận ban phước lành tháng năm.
                .song
                  .song__title
                    a(href="") Con Mến Yêu
                      span Chưa Rõ Tác Giả
                  .song__desc Con mến yêu tin thờ trong lòng. Cùng chút tình ngây thơ ngắm trông, trong Thánh Thể Chúa cả càn khôn, hằng náu thân tù hãm vì con.
                .song
                  .song__title
                    a(href="") Tâm Tình Với Chúa
                      span Giang Tâm
                  .song__desc Lặng quỳ bên Chúa, ôi Chúa Giêsu thánh thể, hồn tràn niềm vui chẳng biết nói sao nên lời. Vì mến thương con Chúa đã hiện hữu nơi đây, nguồn suối ơn thiêng, nuôi dưỡng tháng ngày đời chúng con.
        .col-lg-6 
          .box.padding 
            .box-title 
              h3 Bài hát xem nhiều nhất
            .box-content
              .list-song
                .song
                  .song__title
                    a(href="") Ca vang tình yêu Chúa 4
                      span Đinh Minh Hoàng
                  .song__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                .song
                  .song__title
                    a(href="") Ca vang tình yêu Chúa 3
                      span Đinh Công Huỳnh
                  .song__desc Dòng suối êm đềm êm trôi, êm trôi như ân tình Chúa. Mùa xuân tinh khôi tô điểm cho đời thắm tươi rực rỡ. Dừng bước gian trần cho tâm can con nghỉ ngơi trong Ngài. Một phút bình yên tim con lâng lâng ngất ngây đêm ngày.
                .song
                  .song__title
                    a(href="") đoàn con đến đây
                      span Hoài Chiên
                  .song__desc Ðoàn con đến đây dâng lời ước nguyện. Ngày đêm mến cha cho trọn khối tình con. Ðược yêu mến Cha bao là êm đềm. Hồn con sướng vui tháng năm hết ưu phiền.
                .song
                  .song__title
                    a(href="") lòng Chúa ái tuất
                      span Nguyễn Bang Hanh
                  .song__desc Đây lòng Chúa ái tuất không bến bờ, Thương loài nhân thế đang vướng tội nhơ. Đem trót Máu Thịt nuôi dưỡng xác hồn. Ngày đêm ban xuống cho muôn ngàn ơn.
                .song
                  .song__title
                    a(href="") Phút Linh Thiêng
                      span Thành Tâm
                  .song__desc Người ơi nào mau tới thờ lạy Chúa, quỳ dâng lòng tôn kính Chúa trên cao. Linh thiêng, ôi phút giây giờ đây khi đoàn con được chiêm ngắm nhan thánh Chúa chí nhân quyền uy.
                .song
                  .song__title
                    a(href="") Thờ Lạy Chúa
                      span Hoài Đức
                  .song__desc Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái trong hình bánh náu thân. Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái nương mình dưới thế trần.
                .song
                  .song__title
                    a(href="") Giêsu Ở Cùng Con
                      span Chưa Rõ Tác Giả
                  .song__desc Giêsu ơi ở cùng con luôn mãi. Chúa lìa con, con biết đâu nương nhờ? Nơi dương gian con giá lạnh hôm mai. Hãy ở lại trong cõi lòng con thơ.
                .song
                  .song__title
                    a(href="") Dâng
                      span Nguyễn Duy
                  .song__desc Nguyện dâng Chúa lễ tình yêu chân thành, này tấm bánh đây rượu nho thơm ngát. Nguyện dâng Chúa đôi bàn tay con hiến, Chúa thương chấp nhận ban phước lành tháng năm.
                .song
                  .song__title
                    a(href="") Con Mến Yêu
                      span Chưa Rõ Tác Giả
                  .song__desc Con mến yêu tin thờ trong lòng. Cùng chút tình ngây thơ ngắm trông, trong Thánh Thể Chúa cả càn khôn, hằng náu thân tù hãm vì con.
                .song
                  .song__title
                    a(href="") Tâm Tình Với Chúa
                      span Giang Tâm
                  .song__desc Lặng quỳ bên Chúa, ôi Chúa Giêsu thánh thể, hồn tràn niềm vui chẳng biết nói sao nên lời. Vì mến thương con Chúa đã hiện hữu nơi đây, nguồn suối ơn thiêng, nuôi dưỡng tháng ngày đời chúng con.
      .row
        .col-12
          .box-title
            h3 Các tác giả
          .box
            .list-category
              ul
                li 
                  a(href="")
                    span Ân Đức
                li 
                  a(href="")
                    span Cao Huy Hoàng
                li 
                  a(href="")
                    span Dấu Chân
                li 
                  a(href="")
                    span Duy Tân
                li 
                  a(href="")
                    span Duy Thiên
                li 
                  a(href="")
                    span Gia Ân
                li 
                  a(href="")
                    span Giang Ân
                li 
                  a(href="")
                    span Giang Tâm
                li 
                  a(href="")
                    span Hạ Đăng
                li 
                  a(href="")
                    span Hải Linh
                li 
                  a(href="")
                    span Hoài Bắc
                li 
                  a(href="")
                    span Hoài Chiên
                li 
                  a(href="")
                    span Hoài Đức
                li 
                  a(href="")
                    span Hoàng Nam
                li 
                  a(href="")    
                    span Hoàng Phúc
                li
                  a(href="")
                    span Hùng Lân
                li 
                  a(href="")
                    span Huyền Linh
                li 
                  a(href="")
                    span Huỳnh Minh Kỳ
                li 
                  a(href="")
                    span Kim Long
                li 
                  a(href="")
                    span Lâm Sơn Hải
                li 
                  a(href="")
                    span Lê Huy
                li 
                  a(href="")
                    span Lê Phú Hải
                li 
                  a(href="")
                    span Lê Quốc
                li 
                  a(href="")
                    span Lê Đức Hùng
                li 
                  a(href="")
                    span Mai Khanh
                li 
                  a(href="")
                    span Mai Nguyên Vũ
                li 
                  a(href="")
                    span Matinô
                li 
                  a(href="")
                    span Mi Trầm
                li
                  a(href="")
                    span Nhiều hơn ...
        .col-12
          .box-title
            h3 Danh mục phụng vụ
          .box
            .list-category
              ul
                li
                  a(href="")
                    span Bộ Lễ - Kinh Nguyện
                li
                  a(href="")
                    span Các Thánh
                li
                  a(href="")
                    span Các Thánh Tử Đạo Việt Nam
                li
                  a(href="")
                    span Cầu Hồn
                li
                  a(href="")
                    span Cha Mẹ
                li
                  a(href="")
                    span Chúa Ba Ngôi
                li
                  a(href="")
                    span Chúa Ki-Tô Vua
                li
                  a(href="")
                    span Chúa Thánh Thần
                li
                  a(href="")
                    span Gia Đình
                li
                  a(href="")
                    span Hôn Phối
                li
                  a(href="")
                    span Lòng Thương Xót Chúa
                li
                  a(href="")
                    span Mùa Chay
                li
                  a(href="")
                    span Mùa Giáng Sinh
                li
                  a(href="")
                    span Mùa Phục Sinh
                li
                  a(href="")
                    span Mùa Thường Niên
                li
                  a(href="")
                    span Nhiều hơn ...
      .row
        .col-12.col-md-6.col-lg-4
          .box-title
              h3 Xem nhiều trong tuần
          .box.padding
            .box-content
              .list-most-song
                ul
                  li
                    .num 1.
                    .tend
                      h3
                        a(href='') lạy Chúa con quỳ trước nhan Chúa
                    .df
                      .att
                        span.fa-eye 316
                      .att
                        span.fa-heart 1
                  li
                    .num 2.
                    .tend
                      h3
                        a(href='') kinh hòa bình
                    .df
                      .att
                        span.fa-eye 188
                      .att
                        span.fa-heart 0
                  li
                    .num 3.
                    .tend
                      h3
                        a(href='') tâm tình tri ân
                    .df
                      .att
                        span.fa-eye 145
                      .att
                        span.fa-heart 0
                  li
                    .num 4.
                    .tend
                      h3
                        a(href='') xin giữ con
                    .df
                      .att
                        span.fa-eye 107
                      .att
                        span.fa-heart 0
                  li
                    .num 5.
                    .tend
                      h3
                        a(href='') ca khúc hồng ân 1
                    .df
                      .att
                        span.fa-eye 82
                      .att
                        span.fa-heart 0
                  li
                    .num 6.
                    .tend
                      h3
                        a(href='') trên trời cao
                    .df
                      .att
                        span.fa-eye 81
                      .att
                        span.fa-heart 0
                  li
                    .num 7.
                    .tend
                      h3
                        a(href='') hát về thánh Giuse
                    .df
                      .att
                        span.fa-eye 80
                      .att
                        span.fa-heart 0
                  li
                    .num 8.
                    .tend
                      h3
                        a(href='') hạnh phúc thay
                    .df
                      .att
                        span.fa-eye 76
                      .att
                        span.fa-heart 0
                  li
                    .num 9.
                    .tend
                      h3
                        a(href='') Giêsu ở cùng con
                    .df
                      .att
                        span.fa-eye 75
                      .att
                        span.fa-heart 0
                  li
                    .num 10.
                    .tend
                      h3
                        a(href='') dẫn đưa con đi
                    .df
                      .att
                        span.fa-eye 70
                      .att
                        span.fa-heart 0
        .col-12.col-md-6.col-lg-4
          .box-title
              h3 Xem nhiều trong tháng
          .box.padding
            .box-content
              .list-most-song
                ul
                  li
                    .num 1.
                    .tend
                      h3
                        a(href='') lạy Chúa con quỳ trước nhan Chúa
                    .df
                      .att
                        span.fa-eye 316
                      .att
                        span.fa-heart 1
                  li
                    .num 2.
                    .tend
                      h3
                        a(href='') kinh hòa bình
                    .df
                      .att
                        span.fa-eye 188
                      .att
                        span.fa-heart 0
                  li
                    .num 3.
                    .tend
                      h3
                        a(href='') tâm tình tri ân
                    .df
                      .att
                        span.fa-eye 145
                      .att
                        span.fa-heart 0
                  li
                    .num 4.
                    .tend
                      h3
                        a(href='') xin giữ con
                    .df
                      .att
                        span.fa-eye 107
                      .att
                        span.fa-heart 0
                  li
                    .num 5.
                    .tend
                      h3
                        a(href='') ca khúc hồng ân 1
                    .df
                      .att
                        span.fa-eye 82
                      .att
                        span.fa-heart 0
                  li
                    .num 6.
                    .tend
                      h3
                        a(href='') trên trời cao
                    .df
                      .att
                        span.fa-eye 81
                      .att
                        span.fa-heart 0
                  li
                    .num 7.
                    .tend
                      h3
                        a(href='') hát về thánh Giuse
                    .df
                      .att
                        span.fa-eye 80
                      .att
                        span.fa-heart 0
                  li
                    .num 8.
                    .tend
                      h3
                        a(href='') hạnh phúc thay
                    .df
                      .att
                        span.fa-eye 76
                      .att
                        span.fa-heart 0
                  li
                    .num 9.
                    .tend
                      h3
                        a(href='') Giêsu ở cùng con
                    .df
                      .att
                        span.fa-eye 75
                      .att
                        span.fa-heart 0
                  li
                    .num 10.
                    .tend
                      h3
                        a(href='') dẫn đưa con đi
                    .df
                      .att
                        span.fa-eye 70
                      .att
                        span.fa-heart 0
        .col-12.col-md-12.col-lg-4
          .box-title
              h3 Yêu thích nhất trang
          .box.padding
            .box-content
              .list-most-song
                ul
                  li
                    .num 1.
                    .tend
                      h3
                        a(href='') lạy Chúa con quỳ trước nhan Chúa
                    .df
                      .att
                        span.fa-eye 316
                      .att
                        span.fa-heart 1
                  li
                    .num 2.
                    .tend
                      h3
                        a(href='') kinh hòa bình
                    .df
                      .att
                        span.fa-eye 188
                      .att
                        span.fa-heart 0
                  li
                    .num 3.
                    .tend
                      h3
                        a(href='') tâm tình tri ân
                    .df
                      .att
                        span.fa-eye 145
                      .att
                        span.fa-heart 0
                  li
                    .num 4.
                    .tend
                      h3
                        a(href='') xin giữ con
                    .df
                      .att
                        span.fa-eye 107
                      .att
                        span.fa-heart 0
                  li
                    .num 5.
                    .tend
                      h3
                        a(href='') ca khúc hồng ân 1
                    .df
                      .att
                        span.fa-eye 82
                      .att
                        span.fa-heart 0
                  li
                    .num 6.
                    .tend
                      h3
                        a(href='') trên trời cao
                    .df
                      .att
                        span.fa-eye 81
                      .att
                        span.fa-heart 0
                  li
                    .num 7.
                    .tend
                      h3
                        a(href='') hát về thánh Giuse
                    .df
                      .att
                        span.fa-eye 80
                      .att
                        span.fa-heart 0
                  li
                    .num 8.
                    .tend
                      h3
                        a(href='') hạnh phúc thay
                    .df
                      .att
                        span.fa-eye 76
                      .att
                        span.fa-heart 0
                  li
                    .num 9.
                    .tend
                      h3
                        a(href='') Giêsu ở cùng con
                    .df
                      .att
                        span.fa-eye 75
                      .att
                        span.fa-heart 0
                  li
                    .num 10.
                    .tend
                      h3
                        a(href='') dẫn đưa con đi
                    .df
                      .att
                        span.fa-eye 70
                      .att
                        span.fa-heart 0
      .row
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
