extends _layout/_layout

block main-content
  .main-content
    .comp-wrapper
      include _components/_home-season.pug
      .row.justify-content-center
        .col-lg-6
          include _components/_home-newsong.pug
        .col-lg-6 
          include _components/_home-mostview.pug
      include _components/_home-categoryhome.pug
      include _components/_home-author.pug
      .row
        .col-12.col-md-6.col-lg-4
          .box-title
              h3 Xem nhiều trong tuần
          .box.padding
            .box-content
              .list-most-song
                ul
                  li
                    .num 1.
                    .tend
                      h3
                        a(href='') lạy Chúa con quỳ trước nhan Chúa
                    .df
                      .att
                        span.fa-eye 316
                      .att
                        span.fa-heart 1
                  li
                    .num 2.
                    .tend
                      h3
                        a(href='') kinh hòa bình
                    .df
                      .att
                        span.fa-eye 188
                      .att
                        span.fa-heart 0
                  li
                    .num 3.
                    .tend
                      h3
                        a(href='') tâm tình tri ân
                    .df
                      .att
                        span.fa-eye 145
                      .att
                        span.fa-heart 0
                  li
                    .num 4.
                    .tend
                      h3
                        a(href='') xin giữ con
                    .df
                      .att
                        span.fa-eye 107
                      .att
                        span.fa-heart 0
                  li
                    .num 5.
                    .tend
                      h3
                        a(href='') ca khúc hồng ân 1
                    .df
                      .att
                        span.fa-eye 82
                      .att
                        span.fa-heart 0
                  li
                    .num 6.
                    .tend
                      h3
                        a(href='') trên trời cao
                    .df
                      .att
                        span.fa-eye 81
                      .att
                        span.fa-heart 0
                  li
                    .num 7.
                    .tend
                      h3
                        a(href='') hát về thánh Giuse
                    .df
                      .att
                        span.fa-eye 80
                      .att
                        span.fa-heart 0
                  li
                    .num 8.
                    .tend
                      h3
                        a(href='') hạnh phúc thay
                    .df
                      .att
                        span.fa-eye 76
                      .att
                        span.fa-heart 0
                  li
                    .num 9.
                    .tend
                      h3
                        a(href='') Giêsu ở cùng con
                    .df
                      .att
                        span.fa-eye 75
                      .att
                        span.fa-heart 0
                  li
                    .num 10.
                    .tend
                      h3
                        a(href='') dẫn đưa con đi
                    .df
                      .att
                        span.fa-eye 70
                      .att
                        span.fa-heart 0
        .col-12.col-md-6.col-lg-4
          .box-title
              h3 Xem nhiều trong tháng
          .box.padding
            .box-content
              .list-most-song
                ul
                  li
                    .num 1.
                    .tend
                      h3
                        a(href='') lạy Chúa con quỳ trước nhan Chúa
                    .df
                      .att
                        span.fa-eye 316
                      .att
                        span.fa-heart 1
                  li
                    .num 2.
                    .tend
                      h3
                        a(href='') kinh hòa bình
                    .df
                      .att
                        span.fa-eye 188
                      .att
                        span.fa-heart 0
                  li
                    .num 3.
                    .tend
                      h3
                        a(href='') tâm tình tri ân
                    .df
                      .att
                        span.fa-eye 145
                      .att
                        span.fa-heart 0
                  li
                    .num 4.
                    .tend
                      h3
                        a(href='') xin giữ con
                    .df
                      .att
                        span.fa-eye 107
                      .att
                        span.fa-heart 0
                  li
                    .num 5.
                    .tend
                      h3
                        a(href='') ca khúc hồng ân 1
                    .df
                      .att
                        span.fa-eye 82
                      .att
                        span.fa-heart 0
                  li
                    .num 6.
                    .tend
                      h3
                        a(href='') trên trời cao
                    .df
                      .att
                        span.fa-eye 81
                      .att
                        span.fa-heart 0
                  li
                    .num 7.
                    .tend
                      h3
                        a(href='') hát về thánh Giuse
                    .df
                      .att
                        span.fa-eye 80
                      .att
                        span.fa-heart 0
                  li
                    .num 8.
                    .tend
                      h3
                        a(href='') hạnh phúc thay
                    .df
                      .att
                        span.fa-eye 76
                      .att
                        span.fa-heart 0
                  li
                    .num 9.
                    .tend
                      h3
                        a(href='') Giêsu ở cùng con
                    .df
                      .att
                        span.fa-eye 75
                      .att
                        span.fa-heart 0
                  li
                    .num 10.
                    .tend
                      h3
                        a(href='') dẫn đưa con đi
                    .df
                      .att
                        span.fa-eye 70
                      .att
                        span.fa-heart 0
        .col-12.col-md-12.col-lg-4
          .box-title
              h3 Yêu thích nhất trang
          .box.padding
            .box-content
              .list-most-song
                ul
                  li
                    .num 1.
                    .tend
                      h3
                        a(href='') lạy Chúa con quỳ trước nhan Chúa
                    .df
                      .att
                        span.fa-eye 316
                      .att
                        span.fa-heart 1
                  li
                    .num 2.
                    .tend
                      h3
                        a(href='') kinh hòa bình
                    .df
                      .att
                        span.fa-eye 188
                      .att
                        span.fa-heart 0
                  li
                    .num 3.
                    .tend
                      h3
                        a(href='') tâm tình tri ân
                    .df
                      .att
                        span.fa-eye 145
                      .att
                        span.fa-heart 0
                  li
                    .num 4.
                    .tend
                      h3
                        a(href='') xin giữ con
                    .df
                      .att
                        span.fa-eye 107
                      .att
                        span.fa-heart 0
                  li
                    .num 5.
                    .tend
                      h3
                        a(href='') ca khúc hồng ân 1
                    .df
                      .att
                        span.fa-eye 82
                      .att
                        span.fa-heart 0
                  li
                    .num 6.
                    .tend
                      h3
                        a(href='') trên trời cao
                    .df
                      .att
                        span.fa-eye 81
                      .att
                        span.fa-heart 0
                  li
                    .num 7.
                    .tend
                      h3
                        a(href='') hát về thánh Giuse
                    .df
                      .att
                        span.fa-eye 80
                      .att
                        span.fa-heart 0
                  li
                    .num 8.
                    .tend
                      h3
                        a(href='') hạnh phúc thay
                    .df
                      .att
                        span.fa-eye 76
                      .att
                        span.fa-heart 0
                  li
                    .num 9.
                    .tend
                      h3
                        a(href='') Giêsu ở cùng con
                    .df
                      .att
                        span.fa-eye 75
                      .att
                        span.fa-heart 0
                  li
                    .num 10.
                    .tend
                      h3
                        a(href='') dẫn đưa con đi
                    .df
                      .att
                        span.fa-eye 70
                      .att
                        span.fa-heart 0
      .row
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') đường con đi 
                          span Phanxico
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 148
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio neque, voluptates perferendis aliquid laborum earum obcaecati dolorem amet dicta! Quis pariatur repudiandae tempora adipisci incidunt est deserunt fugiat aliquid.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi suscipit non itaque. Sunt rem saepe eaque nam fugiat laudantium molestiae sed, asperiores perspiciatis ea totam labore dolorem libero maiores nulla!
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam numquam corporis quo libero laudantium natus consequatur impedit dolore quos, quaerat architecto tempore doloremque eos placeat optio! Mollitia, quis minima.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus excepturi amet nam voluptas ad nemo sit? Earum ipsum, officia, hic reprehenderit ullam odio sed quis, obcaecati aspernatur totam iusto nemo.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laboriosam dicta eligendi consectetur necessitatibus expedita? Totam earum ullam iure necessitatibus asperiores ipsum, commodi officiis, ad cumque maiores deserunt! Delectus, possimus.
                .songhome__link
                  a(href='') Xem chi tiết
        .col-12.col-lg-6
          .box.padding
            .box-content
              .songhome
                .songhome__wrap
                  .songhome__title
                    h3
                      a(href='') Ca vang tình yêu Chúa  
                          span Đinh Công Huỳnh
                  .songhome__info Hoàng Minh Ngọc - March 23, 2020
                  .songhome__df
                    .songhome__att
                      span.fa-eye 9125
                    .songhome__att
                      span.fa-heart 0
                .songhome__content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ad architecto error delectus. Atque ratione commodi totam animi laborum, aliquid quos saepe cumque sint? Sunt eos minus quos nulla?
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis sequi temporibus dicta corrupti aliquam, provident quibusdam officia cumque numquam illum dolorem recusandae ullam dolor voluptate eum eos? Alias, ipsam!
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, odit quasi minus ab quos natus expedita earum. Inventore, temporibus odio nobis doloribus sapiente, libero quaerat ab delectus mollitia aliquam hic!
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, magnam omnis, sed architecto facere atque distinctio repellat ratione, nostrum adipisci placeat recusandae blanditiis pariatur. Accusantium libero itaque provident consequatur perspiciatis.
                .songhome__link
                  a(href='') Xem chi tiết
