extends _layout/_layout

block main-content
  .main-content
    .wrapper
      .box.padding
        .box-title
          h1 Danh sách bài hát
          small Bài hát được tổng hợp toàn bộ ở đây để người dùng dễ dàng tìm kiếm hoặc muốn xem được toàn bộ bài hát của trang web
        .box-content
          .list-song
            #render-more.grid
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
              .col
                .item
                  .item__top
                    .item__att
                      span.fa-eye 68
                    .item__att
                      span.fa-heart 0
                  .item__info
                    .item__title
                      a(href='') ca vang tình yêu Chúa 4
                    .item__desc Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.
                  .item__attribute
                    .item__attitem
                      span Tác giả
                      span Đinh Công Huỳnh
                    .item__attitem
                      span Chuyên mục
                      span mùa thường niên
          .load-more-song
            a(href='')
              span load th&ecirc;m...
