.comp-breadcrumb
  ul 
    li
      a(href='##')
        i.fa.fa-home
        span Trang chủ
    li 
      a(href='##')
        span Chuyên mục
    li 
      a(href='##')
        span Danh mục con
    li 
      a(href='##')
        span Bài viết