footer.footer
  .wrapper
    .footer__wrapper
      .footer__copyright @ Copyright 2020 by Hợp âm thánh ca
      .footer__social
        ul
          li
            a(href="")
              i.fab.fa-facebook
          li
            a(href="")
              i.fab.fa-youtube
          li
            a(href="")
              i.fab.fa-twitter