footer.footer
  .footer__main
    .wrapper
      .footer__right
        .footer__logo
          a(href="index.html")
            img(src="images/logo.svg", alt="logo")
        .footer__social
          ul
            li
              a(href="")
                i.fab.fa-facebook
            li
              a(href="")
                i.fab.fa-youtube
            li
              a(href="")
                i.fab.fa-twitter
      .footer__contact
        .footer__title Hợp âm thánh ca
        .footer__infor
          ul
            li
              a(href="tel:0373996947") 
                strong [T]: 
                | 037.399.6947
            li
              a(href="mailto:minhngoc.ith@gmail.com")
                strong [E]: 
                | minhngoc.ith@gmail.com
            li
              a(href="#")
                strong [W]: 
                | hopamthanhca.com
            li
              a(href="#")
                strong [@] 
                | Copyright 2020 by Hợp âm thánh ca
  .footer__bottom
    .wrapper
      .footer__navigation
        ul 
          li 
            a(href="/") Trang chủ
          li 
            a(href="#") Giới thiệu
          li 
            a(href="/list-song-more.html") Bài hát
          li 
            a(href="/chord.html") Hợp âm
          li
            a(href="/holy-songs-weekly.html") Thánh ca hàng tuần

    