header.header
  .header__main
    .wrapper
      .header__left
        .header__logo
          a(href="index.html")
            img(src="images/logo.svg", alt="logo")
      .header__tools
        .header__menu
          .header__menuToggle
            span
            span
            span
          .header__menuOverlay
          .header__menuDropdown
            ul
              li
                a(href="index.html") Trang chủ
              li
                a(href="about.html") Giới thiệu
              li
                a(href="list-song-more.html")
                  span Danh mục
                ul
                  li
                    a(href="category-alphabet.html") Bảng chữ cái
                  li
                    a(href="category-cat.html") Danh mục
                  li
                    a(href="category-cat.html") Tác giả
              li.noPos
                a(href="index.html") 
                  span Điệu nhạc
                ul.menuMega
                  li
                    a(href="list-song.html") 
                      span Ballad
                  li
                    a(href="list-song.html") 
                      span Rock
                  li
                    a(href="list-song.html") 
                      span Pop
                  li
                    a(href="list-song.html") 
                      span ChaChaCha
                  li
                    a(href="list-song.html") 
                      span Rhumbar
                  li
                    a(href="list-song.html") 
                      span Tango
                  li
                    a(href="list-song.html") 
                      span Jum
                  li
                    a(href="list-song.html") 
                      span Valse
                  li
                    a(href="list-song.html") 
                      span Boston
                  li
                    a(href="list-song.html") 
                      span Ballad
                  li
                    a(href="list-song.html") 
                      span Rock
                  li
                    a(href="list-song.html") 
                      span Pop
                  li
                    a(href="list-song.html") 
                      span ChaChaCha
                  li
                    a(href="list-song.html") 
                      span Rhumbar
                  li
                    a(href="list-song.html") 
                      span Tango
                  li
                    a(href="list-song.html") 
                      span Jum
                  li
                    a(href="list-song.html") 
                      span Valse
                  li
                    a(href="list-song.html") 
                      span Boston
              li
                a(href="holy-songs-weekly.html") Thánh ca hàng tuần
              li
                a(href="pdf.html") SHEET NHẠC
  .header__search
    .wrapper
      .header__search--title Cùng tìm kiếm bài hát bạn thích nhất
      .header__search--form(data-search-form)
        input(type="text" id="searchDesktop" autocomplete="off" placeholder="Nhập tên bài hát, từ khóa tìm kiếm..." data-search data-action="http://localhost:3000/search.html" data-url="/data/searchsong.json")
        .header__search--suggess
          ul(data-suggess)
      .header__search--note
        p Tìm với tên của bài hát: "Ca vang tình yêu Chúa", "Tình yêu Thiên Chúa"
        p Tìm với lời đầu tiên của bài hát: "Đời con là những nốt nhạc thiêng"
        p Nhập bài hát đầy đủ dấu và chữ, không ghi tắt.