header.header
  .header__main
    .wrapper
      .header__left
        .header__logo
          a(href="index.html")
            img(src="images/logo.svg", alt="logo")
      .header__tools
        .header__menu
          .header__menuToggle
            span
            span
            span
          .header__menuOverlay
          .header__menuDropdown
            ul
              li
                a(href="index.html") Trang chủ
              li
                a(href="about.html") Giới thiệu
              li
                a(href="list-song-more.html")
                  span Bài hát
                ul
                  li
                    a(href="category-alphabet.html") Bảng chữ cái
                  li
                    a(href="category-cat.html") Danh mục
                  li
                    a(href="category-cat.html") Tác giả
              li.noPos
                a(href="index.html") 
                  span Điệu nhạc
                ul.menuMega
                  li
                    a(href="list-song.html") 
                      span Ballad
                  li
                    a(href="list-song.html") 
                      span Rock
                  li
                    a(href="list-song.html") 
                      span Pop
                  li
                    a(href="list-song.html") 
                      span ChaChaCha
                  li
                    a(href="list-song.html") 
                      span Rhumbar
                  li
                    a(href="list-song.html") 
                      span Tango
                  li
                    a(href="list-song.html") 
                      span Jum
                  li
                    a(href="list-song.html") 
                      span Valse
                  li
                    a(href="list-song.html") 
                      span Boston
                  li
                    a(href="list-song.html") 
                      span Ballad
                  li
                    a(href="list-song.html") 
                      span Rock
                  li
                    a(href="list-song.html") 
                      span Pop
                  li
                    a(href="list-song.html") 
                      span ChaChaCha
                  li
                    a(href="list-song.html") 
                      span Rhumbar
                  li
                    a(href="list-song.html") 
                      span Tango
                  li
                    a(href="list-song.html") 
                      span Jum
                  li
                    a(href="list-song.html") 
                      span Valse
                  li
                    a(href="list-song.html") 
                      span Boston
              li
                a(href="chord.html") Hợp âm
              li
                a(href="pdf.html") PDF
  .header__search
    .wrapper
      form(action="search.html" method="get")
        .header__search--title Cùng tìm kiếm bài hát bạn thích nhất
        input(type="text" id="searchDesktop" placeholder="Nhập tên bài hát, từ khóa tìm kiếm...")
        .header__search--note
          p Tìm với tên bài hát : Ca vang tình yêu Chúa, Tình yêu Thiên Chúa
          p  Nhập bài hát đầy đủ dấu và chữ, không ghi tắt.
  //- .header__notification
  //-   .wrapper
  //-     .header__notification__slide
  //-       .item Các vị trí hợp âm đều dựa vào file sheet, một vài hợp âm thêm vào để hay hơn.
  //-       .item Mọi thắc mắc, đóng góp ý kiến xin liên hệ vào email: minhngoc.ith@gmai.com.
  //-       .item Các bài hát yêu cầu hợp âm xin gởi về địa chỉ email vừa rồi hoặc facebook cùa trang.