.comp-slide-category(data-slide-category)
  .swiper
    .swiper-wrapper
      .swiper-slide
        +categoryHome({
          title: 'Mùa thường niên',
          image: 'images/chuyen-muc/_0011_thuongnien.jpg',
          link: '/list-song.html',
          cls: '--muathuongnien'
        })
      .swiper-slide
        +categoryHome({
          title: 'Mùa chay',
          image: 'images/chuyen-muc/_0010_muachay.jpg',
          link: '/list-song.html',
          cls: '--muachay'
        })
      .swiper-slide
        +categoryHome({
          title: 'Mùa phục sinh',
          image: 'images/chuyen-muc/_0009_muaphucsinh.jpg',
          link: '/list-song.html',
          cls: '--muaphucsinh'
        })
      .swiper-slide
        +categoryHome({
          title: 'Mùa vọng',
          image: 'images/chuyen-muc/_0008_muavong.jpg',
          link: '/list-song.html',
          cls: '--muavong'
        })
      .swiper-slide
        +categoryHome({
          title: 'Mùa giáng sinh',
          image: 'images/chuyen-muc/_0007_muagiangsinh.jpg',
          link: '/list-song.html',
          cls: '--muagiangsinh'
        })
      .swiper-slide
        +categoryHome({
          title: 'Đức Mẹ',
          image: 'images/chuyen-muc/_0006_ducme.jpg',
          link: '/list-song.html',
          cls: '--ducme'
        })
      .swiper-slide
        +categoryHome({
          title: 'Hôn phối',
          image: 'images/chuyen-muc/_0005_honphoi.jpg',
          link: '/list-song.html',
          cls: '--honphoi'
        })
      .swiper-slide
        +categoryHome({
          title: 'Tận hiến',
          image: 'images/chuyen-muc/_0004_tanhien.jpg',
          link: '/list-song.html',
          cls: '--tanhien'
        })
      .swiper-slide
        +categoryHome({
          title: 'Lòng thương xót',
          image: 'images/chuyen-muc/_0003_longthuongxot.jpg',
          link: '/list-song.html',
          cls: '--longthuongxot'
        })
      .swiper-slide
        +categoryHome({
          title: 'Các thánh TĐVN',
          image: 'images/chuyen-muc/_0002_cacthanhTDVN.jpg',
          link: '/list-song.html',
          cls: '--tudaovietnam'
        })
      .swiper-slide
        +categoryHome({
          title: 'Cầu hồn',
          image: 'images/chuyen-muc/_0001_cauhon.jpg',
          link: '/list-song.html',
          cls: '--cauhon'
        })
      .swiper-slide
        +categoryHome({
          title: 'Xem thêm',
          image: 'images/chuyen-muc/_0000_xemthem.jpg',
          link: '/list-song.html',
          cls: '--xemthem'
        })
  button.comp-slide-design__arrow.--prev(data-slide-prev)
  button.comp-slide-design__arrow.--next(data-slide-next)