.comp-box.--transparent
  .comp-box__title
    h2.comp-box__title-text Các tác giả
  .comp-box__content
    .comp-slide-author(data-slide-author)
      .swiper
        .swiper-wrapper
          .swiper-slide
            +authorHome({
              name: 'Ân Đức',
              image: 'images/tac-gia/_001_anduc.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Cao Huy Hoàng',
              image: 'images/tac-gia/_002_caohuyhoang.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Cung Trầm',
              image: 'images/tac-gia/_003_cungtram.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Đinh Công Huỳnh',
              image: 'images/tac-gia/_004_dinhconghuynh.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Huỳnh Minh Kỳ',
              image: 'images/tac-gia/_005_huynhminhky.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Đỗ Vỹ Hạ',
              image: 'images/tac-gia/_006_dovyha.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Giang Ân',
              image: 'images/tac-gia/_007_giangan.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Giang Tâm',
              image: 'images/tac-gia/_008_giangtam.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Kim Long',
              image: 'images/tac-gia/_009_kimlong.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Mi Trầm',
              image: 'images/tac-gia/_010_mitram.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Nguyễn Duy',
              image: 'images/tac-gia/_011_nguyenduy.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Nguyễn Mộng Huỳnh',
              image: 'images/tac-gia/_012_nguyenmonghuynh.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Vũ Đình Ân',
              image: 'images/tac-gia/_013_vudinhan.jpg',
              link: '/list-song.html',
            })
          .swiper-slide
            +authorHome({
              name: 'Nhiều Hơn',
              image: 'images/tac-gia/_014_nhieuhon.jpg',
              link: '/list-song.html',
            })
      button.comp-slide-design__arrow.--prev(data-slide-prev)
      button.comp-slide-design__arrow.--next(data-slide-next)