+songIron({
  title: 'lạy Chúa con quỳ trước nhan Chúa',
  eye: 316,
  heart: 1,
  link: 'song-detail.html',
  cls: '--red',
})
+songIron({
  title: 'kinh hòa bình',
  eye: 188,
  heart: 2,
  link: 'song-detail.html',
  cls: '--orange',
})
+songIron({
  title: 'tâm tình tri ân',
  eye: 144,
  heart: 5,
  link: 'song-detail.html',
  cls: '--yellow',
})
+songIron({
  title: 'xin giữ con',
  eye: 107,
  heart: 2,
  link: 'song-detail.html',
})
+songIron({
  title: 'ca khúc hồng ân 1',
  eye: 82,
  heart: 0,
  link: 'song-detail.html',
})
+songIron({
  title: 'trên trời cao',
  eye: 81,
  heart: 0,
  link: 'song-detail.html',
})
+songIron({
  title: 'hát về thánh Giuse',
  eye: 80,
  heart: 0,
  link: 'song-detail.html',
})
+songIron({
  title: 'hạnh phúc thay',
  eye: 76,
  heart: 0,
  link: 'song-detail.html',
})
+songIron({
  title: 'Giêsu ở cùng con',
  eye: 75,
  heart: 0,
  link: 'song-detail.html',
})
+songIron({
  title: 'dẫn đưa con đi',
  eye: 70,
  heart: 0,
  link: 'song-detail.html',
})
