.comp-box.--transparent
  .comp-box__title
    h3 Các tác giả
  .comp-box__content
    .list-category
      ul
        li 
          a(href="")
            span Ân Đức
        li 
          a(href="")
            span Cao Huy Hoàng
        li 
          a(href="")
            span Dấu Chân
        li 
          a(href="")
            span Duy Tân
        li 
          a(href="")
            span Duy Thiên
        li 
          a(href="")
            span Gia Ân
        li 
          a(href="")
            span Giang Ân
        li 
          a(href="")
            span Giang Tâm
        li 
          a(href="")
            span Hạ Đăng
        li 
          a(href="")
            span Hải Linh
        li 
          a(href="")
            span Hoài Bắc
        li 
          a(href="")
            span Hoài Chiên
        li 
          a(href="")
            span Hoài Đức
        li 
          a(href="")
            span Hoàng Nam
        li 
          a(href="")    
            span Hoàng Phúc
        li
          a(href="")
            span Hùng Lân
        li 
          a(href="")
            span Huyền Linh
        li 
          a(href="")
            span Huỳnh Minh Kỳ
        li 
          a(href="")
            span Kim Long
        li 
          a(href="")
            span Lâm Sơn Hải
        li 
          a(href="")
            span Lê Huy
        li 
          a(href="")
            span Lê Phú Hải
        li 
          a(href="")
            span Lê Quốc
        li 
          a(href="")
            span Lê Đức Hùng
        li 
          a(href="")
            span Mai Khanh
        li 
          a(href="")
            span Mai Nguyên Vũ
        li 
          a(href="")
            span Matinô
        li 
          a(href="")
            span Mi Trầm
        li
          a(href="")
            span Nhiều hơn ...