.comp-box.--padding
  .comp-box__title
    h3 Bài hát mới nhất
  .comp-box__content
    .list-song
      +songItem({
        title: 'Ca vang tình yêu Chúa 4',
        author: 'Đinh Công Huỳnh',
        desc: 'Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'Ca vang tình yêu Chúa 3',
        author: 'Đinh Công Huỳnh',
        desc: 'Dòng suối êm đềm êm trôi, êm trôi như ân tình Chúa. Mùa xuân tinh khôi tô điểm cho đời thắm tươi rực rỡ. Dừng bước gian trần cho tâm can con nghỉ ngơi trong Ngài. Một phút bình yên tim con lâng lâng ngất ngây đêm ngày.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'đoàn con đến đây',
        author: 'Hoài Chiên',
        desc: 'Ðoàn con đến đây dâng lời ước nguyện. Ngày đêm mến cha cho trọn khối tình con. Ðược yêu mến Cha bao là êm đềm. Hồn con sướng vui tháng năm hết ưu phiền.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'lòng Chúa ái tuất',
        author: 'Nguyễn Bang Hanh',
        desc: 'Đây lòng Chúa ái tuất không bến bờ, Thương loài nhân thế đang vướng tội nhơ. Đem trót Máu Thịt nuôi dưỡng xác hồn. Ngày đêm ban xuống cho muôn ngàn ơn.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'Phút Linh Thiêng',
        author: 'Thành Tâm',
        desc: 'Người ơi nào mau tới thờ lạy Chúa, quỳ dâng lòng tôn kính Chúa trên cao. Linh thiêng, ôi phút giây giờ đây khi đoàn con được chiêm ngắm nhan thánh Chúa chí nhân quyền uy.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'Thờ Lạy Chúa',
        author: 'Hoài Đức',
        desc: 'Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái trong hình bánh náu thân. Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái nương mình dưới thế trần.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'Giêsu Ở Cùng Con',
        author: 'Chưa Rõ Tác Giả',
        desc: 'Giêsu ơi ở cùng con luôn mãi. Chúa lìa con, con biết đâu nương nhờ? Nơi dương gian con giá lạnh hôm mai. Hãy ở lại trong cõi lòng con thơ.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'Dâng',
        author: 'Nguyễn Duy',
        desc: 'Nguyện dâng Chúa lễ tình yêu chân thành, này tấm bánh đây rượu nho thơm ngát. Nguyện dâng Chúa đôi bàn tay con hiến, Chúa thương chấp nhận ban phước lành tháng năm.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'Con Mến Yêu',
        author: 'Chưa Rõ Tác Giả',
        desc: 'Con mến yêu tin thờ trong lòng. Cùng chút tình ngây thơ ngắm trông, trong Thánh Thể Chúa cả càn khôn, hằng náu thân tù hãm vì con.',
        link: 'song-detail.html',
      })
      +songItem({
        title: 'Tâm Tình Với Chúa',
        author: 'Giang Tâm',
        desc: 'Lặng quỳ bên Chúa, ôi Chúa Giêsu thánh thể, hồn tràn niềm vui chẳng biết nói sao nên lời. Vì mến thương con Chúa đã hiện hữu nơi đây, nguồn suối ơn thiêng, nuôi dưỡng tháng ngày đời chúng con.',
        link: 'song-detail.html',
      })