.comp-pagination
  ul
    li
      a(href="")
        span 1
    li.active
      a(href="")
        span 2
    li
      a(href="")
        span 3
    li
      a(href="")
        span 4
    li
      a(href="")
        span 5
    li
      a(href="")
        span 6