header.header
  .header__main
    .comp-wrapper
      .header__left
        .header__logo
          a(href="index.html")
            img(src="images/logo.svg", alt="logo")
      .header__tools
        .header__menu
          .header__menuToggle
            span
            span
            span
          .header__menuOverlay
          .header__menuDropdown
            ul
              li
                a(href="index.html") Trang chủ
              li
                a(href="about.html") Giới thiệu
              li
                a(href="list-song-more.html")
                  span Danh mục
                ul
                  li
                    a(href="category-alphabet.html") Bảng chữ cái
                  li
                    a(href="category-cat.html") Danh mục
                  li
                    a(href="category-cat.html") Tác giả
              li.noPos
                a(href="index.html") 
                  span Điệu nhạc
                ul.menuMega
                  li
                    a(href="list-song.html") 
                      span Ballad
                  li
                    a(href="list-song.html") 
                      span Rock
                  li
                    a(href="list-song.html") 
                      span Pop
                  li
                    a(href="list-song.html") 
                      span ChaChaCha
                  li
                    a(href="list-song.html") 
                      span Rhumbar
                  li
                    a(href="list-song.html") 
                      span Tango
                  li
                    a(href="list-song.html") 
                      span Jum
                  li
                    a(href="list-song.html") 
                      span Valse
                  li
                    a(href="list-song.html") 
                      span Boston
                  li
                    a(href="list-song.html") 
                      span Ballad
                  li
                    a(href="list-song.html") 
                      span Rock
                  li
                    a(href="list-song.html") 
                      span Pop
                  li
                    a(href="list-song.html") 
                      span ChaChaCha
                  li
                    a(href="list-song.html") 
                      span Rhumbar
                  li
                    a(href="list-song.html") 
                      span Tango
                  li
                    a(href="list-song.html") 
                      span Jum
                  li
                    a(href="list-song.html") 
                      span Valse
                  li
                    a(href="list-song.html") 
                      span Boston
              li
                a(href="holy-songs-weekly.html") Thánh ca hàng tuần
              li
                a(href="pdf.html") SHEET NHẠC
  include _search.pug