.comp-slide-category {
  margin-bottom: 75px;
  position: relative;

  @include mq('lg') {
    margin-bottom: 55px;
  }

  &__arrow {
    width: 65px;
    height: 65px;
    background-color: rgba($color-white-1, 0.78);
    z-index: 4;
    position: absolute;
    top: 50%;
    border: none;
    outline: none;
    transform: translateY(-50%);
    cursor: pointer;

    @include mq('sm') {
      width: 45px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @extend %font-icon;
      font-size: 40px;
      color: $color-black-1;

      @include mq('sm') {
        font-size: 30px;
      }
    }

    &.\--prev {
      left: 0;
      margin-left: -15px;

      &::before {
        content: "\f104";
      }
    }

    &.\--next {
      right: 0;
      margin-right: -15px;

      &::before {
        content: "\f105";
      }
    }

    &.swiper-button-disabled {
      display: none;
    }
  }
}
