.comp-song-intro {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  // KEYS
  &__keys {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: $color-black-2;
  }

  &__key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 30px;
    font-size: 12px;
    border-radius: 7px;
    border: solid 1px $color-blue-2;
    background-color: rgba($color-blue-2, 0.05);
    
    i {
      font-style: normal;
      pointer-events: none;
    }
    
    + i {
      margin: 0 10px;
    }
  }

  &__ats {
    display: block;
    min-height: 22px;
    font-weight: 600;
    color: $color-black-4;
    overflow: hidden;
  }
}