mixin songItemSeason(data)
  .comp-song-item
    .comp-song-item__title!=data.title
    .comp-song-item__author!=data.author
    .comp-song-item__desc!=data.desc
    a(href=data.link).comp-song-item__link