.category-list-cat {
  margin-bottom: 35px;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  li {
    width: 20%;
    padding: 0 10px;
    margin-bottom: 25px;

    @include mq(1100) {
      width: 25%;
    }

    @include mq(991) {
      width: 33.333333%;
    }

    @include mq(640) {
      width: 50%;
    }

    @include mq(420) {
      width: 100%;
    }
  }

  .item {
    position: relative;
    border:solid 1px $color-black-3;
    border-radius: 6px;
    padding: 15px 25px;
    text-align: center;
    @extend %timing;

    &:hover {
      border-color: $color-blue-2;

      .item__title {
        color: $color-blue-1;
      }
    }

    &__sp {
      font-size: 12px;
      line-height: 20px;
      text-transform: capitalize;
      font-weight: 300;
    }

    &__title {
      display: block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      text-transform: capitalize;

      @include mq(991) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__count {
      font-size: 12px;
      line-height: 20px;
      color: $color-black-5;
    }

    &__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}