.pagination {
  display: block;
  margin-top: 30px;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  li {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      a {
        @extend %box-design-blue;
        color: $color-white-1;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 40px;
    height: 35px;
    color: $color-black-1;
    border-radius: 4px;
  }
}

.list-category {
  ul {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  li {
    border-bottom: 1px solid $color-gray-3;
    border-right: 1px solid $color-gray-3;
    flex-grow: 1;
  }

  a {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-transform: capitalize;
  }

  &.sidebar {
    ul {
      margin: 0 2px;
    }

    li{
      padding: 0 2px;
      border: none;
      margin-bottom: 4px;
    }

    a {
      height: auto;
      padding: 10px 15px;
      font-size: 13px;
      color: $color-white-1;
      background-color: $color-blue-2;
      border-radius: 4px;
    }
  }
}

.img-design-banner{
  margin-bottom: 35px;
}

.list-most-song {
  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
  }

  .num {
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 15px;
    line-height: 23px;
    color: #222222;
    font-weight: bold;
    text-align: right;
    width: 22px;
  }

  .tend{
    a {
      display: block;
      font-size: 14px;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-transform: capitalize;

      &:hover {
        color:$color-blue-1;
      }
    }
  }

  .df {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  .att{
    font-size: 10px;
    line-height: 18px;
    color: #666666;
    padding-right: 10px;
    
    span {
      padding-left: 15px;
      position: relative;
      color: $color-blue-2;

      &::before {
        @extend %font-icon;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

.songhome {
  &__wrap{
    padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: solid 1px #e5e5e5;
  }

  &__title {
	  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    h3 {
      padding: 0;
    }

    a {
      display: block;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;

      span{
        color:#666666;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize;
      }
    }
  }

  &__info {
    font-size: 12px;
    line-height: 20px;
    color: #666666;
  }

  &__df{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  &__att{
    font-size: 10px;
    line-height: 18px;
    color: #666666;
    padding-right: 10px;

    span{
      padding-left: 15px;
      position: relative;
      color: $color-blue-2;

      &::before{
        @extend %font-icon;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  &__content{
    overflow: hidden;
    margin-bottom: 10px;
  }

  .chordOC{
    display: none !important;
  }

  &__link {
    text-align: right;

    a{
      display: block;
      font-size: 12px;
      line-height: 20px;
      color:#006193;
    }
  }
}
