$color-white-1: #ffffff;
$color-white-2: #f5f5f5;

$color-gray-1: #bbbbbb;
$color-gray-2: #aaaaaa;
$color-gray-3: #e0e0e0;

$color-black-1: #000000;
$color-black-2: #333333;
$color-black-3: #999999;
$color-black-4: #666666;
$color-black-5: #c6cadd;

$color-blue-1: #006193;
$color-blue-2: #0075af;
$color-blue-3: #052838;
$color-blue-4: #09394e;

$color-red-1: #eb0000;
$color-red-2: #971324;

$color-orange-1: #e69500;

$color-yellow-1: #c3c000;

$color-purple-1: #820093;

$color-pink-1: #e91e63;

$color-green-1: #3d9450;
